/* GENERAL RULES */
body {

    font-family: Arial, Helvetica, sans-serif;
}

header nav {

    font-family: Helvetica, Arial, sans-serif;
}

.container_90 {

    width: 90%;
    margin: 0 auto;
}

h1 {

    font-size: 2.5rem;
}

.btn {

    border-radius: 20px;
}


/* HEADER SECTION */

.container_header_top {

    background-color: black;
}

.svg_sony {

    width: 100px;
    height: auto;
    padding: 10px 0;
}

header > .container-fluid {

    padding: 0;
}

header .bg-light {

    --bs-bg-opacity: 1;
}

.navbar-light .navbar-nav .nav-link {

    color:black;
}

.nav_rgt li {

    padding-right: 15px;
}


/* JUMBOTRON ONE SECTION */

#jumbo_one {

    margin-top: 123px;
    background-image: url(../img/jumbo-bg.png);
    background-position: top center;
    color: white;
}

.logo_text {

    padding-top: 200px;
    padding-bottom: 50px;
}

.logo_text img{

    max-width: 100%;
}

.jumbotron p {

    padding: 20px 0;
}

.jumbotron .button_container {

    padding-bottom: 50px;
}

.jumbotron h1 {

    font-size: 2.5rem;
    text-shadow: 3px 3px 2px black;
}

.jumbotron p {

    text-shadow: 3px 3px 2px black;
}

/* carillon */

#carillon_jumbo_one {

    margin: 40px 0;
}

#carillon_jumbo_one img {

    border-radius: 15px;
}

#carillon_jumbo_one .ms_selected {

    border: solid white 3px;
    outline: solid #0070d1 2px;
}

#carillon_jumbo_one .img_container {

    padding: 10px 0;
}


/* PS5 SECTION */

#ps5_section {

   padding : 50px 0;
}

#ps5_section h6 {

    color: #0070d1;
    padding: 0;
    margin: 0;
}

#ps5_section h5,
#explore_ps4 h5,
#sales h5 {

    color: grey;
}

.title_one h5 {

    padding-bottom: 50px;
}

.title_one h1,
#title_ps5_two h1{

    padding-bottom: 10px;
}

#title_ps5_two h5 {

    padding-bottom: 20px;
}

#title_ps5_two .acc_container .img_container img {

    padding: 0 10%;
}

#title_ps5_two .acc_container .img_container {

    height: 100%;
    filter: opacity(50%);
    transition: all 1s;
    text-decoration: none;
    color: black;
}

#title_ps5_two .ms_selected .img_container {

    border-bottom: solid 2px #0070d1;
    filter: opacity(100%);
    
}

#title_ps5_two .acc_container .img_container:hover {

    filter: opacity(100%);
}

#title_ps5_two .acc_container p {

    margin-top: 10px;
}


/* JUMOTRON TWO SECTION */

#jumbo_two {

    margin-top: 123px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}


/* NEW RELEASES SECTION */

#new_release {

    padding: 50px 0;
    background-color: #1f1f1f;
    color: white;
}

#new_release h4 {

    margin-bottom: 20px;
}

#new_release img {

    border-radius: 15px;
}

#new_release p {
    padding: 10px 0;
}

#new_release .img_container {

    text-decoration: none;
    color: white;
}

/* EXPLORE PS4 SECTION */

#explore_ps4 {

    padding : 50px 0;
}

#explore_ps4 sup {

    font-size: 1.5rem;
}

#explore_ps4 .img_container {

    margin: 20px 0;
}

#explore_ps4 .img_container p {

    color: grey;
}

/* PS PLUS SECTION */

#ps_plus {

    background-color: #bebcbb;
}

.banner_lft p {

    padding: 20px 0;
}

#ps_plus .banner_lft .button_container .btn-light {

    color: #0070d1;
}

/* SALES SECTION */

#sales {

    padding: 50px 0;
}

#sales .img_container {

    margin: 30px 0;
}

/* PS NOW SECTION */

#ps_now {

    background: #161c3b;
    color: white;
}

/* SOCIALS SECTION */

#socials {

    padding: 50px 0;
}

#socials h1 {

    font-size: 2rem;
}

#socials .img_container {

    margin: 10px 0;
}

@media (min-width: 576px) {

    #socials .img_container {

        max-width: 125px;
        /* min-width: 50px;   */
    }

}

/* FOOTER SECTION */

footer {

    color: white;
    background-color: #00439c;
    padding: 20px 0;
}

#top_footer .svg_globe {

    width: 20px;
    margin: 20px 0;
}

#top_footer li a {

    color: white;
    text-decoration: none;
}

#top_footer .svg_sie {

    width: 125px;
}

#top_footer p {

    margin-top: 10px;
    font-size: .7rem;
}
